<div class="comment_block">
  <h3>Comentarios</h3>
  <%= render :partial => 'public/comments/form', :locals => {:resource => article, :comment => comment} %>
  <div class="comments">
    <% article.comments.each do |comment| %>
        <div class="nested_comments">
          <%= nested_comments comment.subtree.arrange(:order => :created_at) %>
        </div>
    <% end %>
  </div>
</div>
