<%= title 'Entradas', small: articles.count %>

<h4>Ordenar por:</h4>
<ul class="pills">
  <%= pill_link_if list_order == 'title', 'Por título', admin_articles_path(order: 'title') %>
  <%= pill_link_if list_order == 'updated_at', 'Por fecha de modificación', admin_articles_path(order: 'updated_at') %>
</ul>

<%= render 'index' %>
