<li><label>Ficheros asociados:</label>
  <ul class="mediafiles list">
    <% article.mediafiles.each do |mediafile| %>
        <li>
          <%= link_to 'ver', mediafile %>
          !@<%= mediafile.id %> <%= mediafile.title %>
          &nbsp;|&nbsp;
        </li>
    <% end %>
  </ul>
</li>