<%= div_for article, :class => 'nested' do %>
    <h2><%= link_to article.title, article %></h2>
    <div class="info">
      <% if Time.now - article.updated_at < 1.day %>
          Actualizado hace<%= time_ago_in_words article.updated_at %>
      <% end %>
    </div>
<% end %>