<header>
  <%= title 'Articulos' %>
</header>

<div class="strip">
  <%= button_group do %>
      <%= add_button_link_to t('articles.new.title'), new_article_path %>
  <% end %>
</div>

<div class="articles">
  <div class="nested_articles">
    <%= nested_articles article.subtree.arrange(:order => :created_at) %>
  </div>
</div>


