<header>
  <%= title 'Articulos' %>
</header>
<div class="content">


  <h2>Modelos teóricos</h2>
  <ul class="articles">
    <%= render :partial => 'info', :collection => models %>
  </ul>

  <h2>Experiencias previas</h2>
  <ul class="articles">
    <%= render :partial => 'info', :collection => experiencies %>
  </ul>

</div>


