<header>
  <%= title 'Articulos' %>
</header>

<div class="strip">
  <%= button_group do %>
  <% end %>
</div>

<div class="articles">
  <div class="nested_articles">
    <%= nested_articles article.subtree.arrange(:order => :created_at) %>
  </div>
</div>


