<header>
  <%= title 'Casa + o -' %>
</header>
<% if current_user? %>
    <div class="dark strip">
      <%= add_button_link_to 'Añadir artículo', new_article_path %>
    </div>
<% end %>

<div class="content">
<% Article::CATEGORIES.each do |category| %>
<h2><%= t("article.categories.prural.#{category}")%></h2>
      <%= render :partial => 'info', :collection => Article.find_all_by_category(category) %>
<% end %>
</div>


