<%= title "Editar  #{zap_class.model_name.human}" %>

<div class="strip">
  <%= link_to raw('&larr; Volver'), [:admin, zap] %>
</div>




<%= render 'form', attributes: editable_attributes(zap_class) %>
