<!-- div id="sidebar">
<%# article.grouped_relations.each do |category, values| %>
    <%# unless category == 'page' or values.length == 0 %>
        <div class="group">
          <h3><%#= t("article.categories.prural.#{category}") %> </h3>
          <ul class="relations">
            <%# values.each do |relation| %>
            <li><%#= link_to relation.to.title, relation.to %></li>
            <%# end %>
          </ul>
        </div>
    <%# end %>
<%# end %>

 </div-->