<% title 'Bienvenidx' %>

<div id="page">
  <h1>casa + o -</h1>

  <h2>casamasomenos.net</h2>

  <div class="content">
    <p>Casamasomenos.net quiere ayudar a <em>generar un cambio en la cultura del acceso y uso de la vivienda</em>, hacia el
      entendimiento de la vivienda como un proceso, en el que el usuario puede y debe ser un agente más activo. El
      <em>aumento de participación y cooperación de los ciudadanos en los procesos de vivienda</em> va parejo al planteamiento de
      la vivienda desde su adaptabilidad, transformación a lo largo del tiempo y adaptación a las necesidades cambiantes
      de los usuarios y a los modos de vida contemporáneos.</p>

    <p>Esta necesidad de apertura de los procesos de vivienda a los ciudadanos, de apoyo a la organización de
      colectivos, y de <em>implicación en la toma de decisiones</em>, es básica si queremos aumentar la cohesión social y la
      responsabilidad y cuidado de los ciudadanos hacia el entorno construido, de la propia casa, al bloque, al barrio y
      a la ciudad.</p>

    <p>La plataforma pretende convertirse en un <em>referente a nivel nacional e internacional</em> sobre contenidos y
      experiencias donde se potencie la participación de los ciudadanos en los procesos de vivienda y de generación de
      hábitats y ciudades más cohesionados y sostenibles. Así mismo pretende fomentar y articular nuevos modos de
      comunicación y participación de manera que se convierta en una herramienta útil para una vivienda de código
      abierto.</p>
  </div>
</div>

