// Place all the styles related to the admin/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    background-color: #EEE;
}

body {
    padding-top: 40px;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.content .span4.sidebar {
    margin-left: 10px;
    padding-left: 9px;
    border-left: 1px solid #EEE;
    min-height: 500px;
}

.strip {
    background-color: whiteSmoke;
    padding: 10px 20px 10px 20px;
    margin: -10px -20px 20px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

#flashes .flash {
    border-bottom: 1px solid #DDD;
}

.page-header {
    background-color: whiteSmoke;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

footer {
    text-align: center;
    color: #666;
}

#flashes {
    text-align: center;

    .flash {
        padding: 3px 0;
    }

    .flash.notice {background-color: yellow;}
}

h3 + div.links {
    margin: -7px 0 12px 0;
    font-size: 90%;
    border-top: 1px solid #EEE;
}


.sidebar ul {
    width: 100%; overflow: hidden;
    margin: 0;

    li {
        margin: 0 5px 5px 0;
        padding: 2px 5px;
        background-color: #efefef;
        list-style: none;
        border-radius: 3px;
    }

    ul.relations {
        li {margin: 0;}
    }
}

a.mini {
    font-size: 80%;
}
a.alert:hover {
    color: #c00;
}
a.edit:hover {
    color: #027e1a;
}
