<% content_for :head do %>
    <%= title t('.title', :title => relation.from.title) %>
<% end %>

<div class="dark strip">
  <%= button_group do %>
      <%= arrowleft_button_link_to 'Cancelar', relation.from %>
  <% end %>
</div>

<%= render :partial => 'form' %>