
@import "variables.css.scss";

/** FORM **/


form {
    width: 95%; margin: 10px auto;

    label {display:block;}
    div.button-group {margin-top:10px;}

    div.input {margin-bottom:10px;}

    input[type=text], textarea {
        width: 100%;
        border: 1px solid $c-bg; padding: 2px 3px;
    }
 }
