

@import "variables.css.scss";

/** ELEMENTS **/
html {background-color:$c-bg;font-size: 12px;font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;}
a {text-decoration:none; color:black;}
a:hover {color: $c-head; text-shadow: 0px 0px 15px $c-gray;}
h1, h2 {line-height: 1.2em; text-shadow: 0px 0px 1px $c-gray;}
h1 {color: $c-head; font-size: 32px;}
h2 {color: black;font-size: 16px;}
em {font-weight:bold;}

/** LAYOUT **/
#page {background: white;width: 960px;margin: 20px auto;padding-bottom:30px;
       -moz-box-shadow: 0px 0px 25px #555;-webkit-box-shadow: 0px 0px 25px #555;box-shadow: 0px 1px 5px #555;
}

header#app {width: $s-width; margin: 10px auto;}
header#app div.info {float: left;}

#page header {background: #F8F8F8;padding:5px 38px;}
#page header a {color: $c-head;}
#page div.strip {background: #EAEAEA;padding: 13px 38px;border-top: 1px solid #CCC;border-bottom: 1px solid #CCC;}
#page div.content {padding:13px 38px;}

div.flash {width: 960px; margin: 10px auto; padding: 5px; text-align:center; border-radius:3px;}
div.flash.notice {background-color:yellow;}

div.strip div.button-group {}
div.strip ul.properties {margin-top: 10px;}
div.strip ul.properties > li {width:100%;overflow:hidden;}
div.strip ul.properties > li label {font-weight:bold;padding-right:0.5em;}
div.strip ul.properties > li > ul {margin-left:10px;}



/** TABLE **/
table {width: 95%; margin: 10px auto; border-bottom: 1px solid $c-bg;}
table tr {border-top: 1px solid $c-bg;}
table td {padding: 2px 5px;}
table tr .button-group {width: 60px; margin-left:10px;}
table tr .button-group .button {
    overflow:hidden; text-indent:-10000px; width: 1em;padding: 2px 1px 2px 5px;
}