

div.article {
}

pre.insert_code {padding: 2px; margin: 5px; color: #333;}

div.article div.render {
    div.body {
       width:100%;overflow:hidden;

      noh1 {font-size: 16px; margin: 0px 0 -5px 0;}
      noh2 {font-size: 14px;}
      nop {text-align:justify; margin: 0.75em 0; line-height:1.5em;}
      noa:hover {color: black;}

      div.mediafile {
        img {max-width:100%;}
      }

      div.mediafile.right {
            float: right;clear: both;
            width: 38%; margin-left:2%;
      }

    }

}

