/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

div.articles {width: 95%; margin: 10px auto;}
div.articles div.article {width: 100%; overflow:hidden;}
div.article div.info {float: left; padding-right:10px;}

div.nested_articles {border-left: 3px solid #efefef; padding-left: 10px;}

div.article div.body {
    width: 70%; margin: 10px auto; font-family: 'Merriweather', arial, serif;
    
    h1 {color: black;}
    
}
