/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

div.comment_area {width: 70%; margin: 10px auto; padding-top:10px; border-top: 1px solid #efefef;}
div.comment_area input[type=submit] {font-size: 80%;}
div.comment {}
div.nested_comments {margin: 10px 0;padding-left:10px;
border-left: 3px solid #efefef;}
textarea#comment_body {height: 2em; width: 100%;}
