/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

#infovis {position: fixed; left: 0.5%; width: 49%; bottom: 20px; top: 4em; overflow:hidden;
cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;}

#content-view {position: fixed; right:0.5%;width:49%;bottom:20px;top:4em;overflow:auto;}
#content-view .article {margin: 10px 10px; padding: 20px 20px;
background-color:white; -moz-box-shadow: 0px 0px 25px #555;-webkit-box-shadow: 0px 0px 25px #555;box-shadow: 0px 1px 5px #555;}
#content-view .article > div {width: 100%;}

body.maps header#app {width: 98%;}