
/** VARIABLES **/
$c-bg: #D6D6D6;
$c-gray: gray;
$c-red: #CA0202;
$c-orange: #f19c03;
$c-blue: #40cafc;
$c-link: $c-orange;
$c-head: #333;
$c-line: #CCC;
$c-header: #F8F8F8;

$s-width: 660px;
$s-browser: 150px;
$s-sidebar: 150px;
$s-content: 80%;


@mixin box-shadow {
    -moz-box-shadow: 0px 0px 25px #555;-webkit-box-shadow: 0px 0px 25px #555;box-shadow: 0px 1px 5px #555;
}