
@import "variables.css.scss";

html {
    font-size: 12px;font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
    background-color: $c-bg;
}
a {text-decoration:none; color:black;}
a:hover {color: $c-head; text-shadow: 0px 0px 15px $c-gray;}
h1, h2 {line-height: 1.2em;}
h1 {color: $c-head; font-size: 24px;text-shadow: 0px 1px 1px $c-gray;}
h2 {color: black;font-size: 16px;}
em {font-weight:bold;}


div#page {
    position:fixed;top:50px;left:2%;bottom:20px;width: 27%;
    background-color:white;
    @include shadow;

    div.content {
        position:absolute;top:0.5em;left:0.5em;right:0.5em;bottom:0.5em;
        overflow:auto;
    }
}

div#navigator {
    position:fixed;top:50px;right:2%;bottom:20px;width:67%;
    border: 1px solid #c00;

    pre {width: 100%;word-wrap:break-word;}
    div#map {height:100%;}
}

div.article {
    margin: 0.5em;
    h1 {margin-bottom:1em;}
}