/** VARIABLES **/
$c-bg: #D6D6D6;
$c-gray: gray;
$c-head: #CA0202;
$s-width: 960px;

@mixin shadow {
    -moz-box-shadow: 0px 0px 25px #555;-webkit-box-shadow: 0px 0px 25px #555;box-shadow: 0px 1px 5px #555;
}