<div class="page-header">
  <%= link_to raw('&larr; Volver'), [:admin, article] %>
</div>

<%= title "Editar traducción de '#{article.title}'" %>


<%= render 'form', attributes: editable_attributes(translation) %>
