<div class="page-header">
  <%= link_to raw('&larr; Volver'), [:admin, article] %>
</div>

<%= title "Añadir traducción a '#{article.title}'" %>


<%= render 'form', attributes: editable_attributes(zap_class) %>
