
$orange: #FF5B29;
$orange-dark: #b12900;
$gray: #EEE;
$grayline: #666; //#CCC;
$dark: #111;
$text: #50534F;
$background: white;//#FFEFFF;

html, body {
    font-family: 'PT Sans', serif;
    color: $text; background-color: $background;
}

body {padding-bottom: 40px;}

a {color: $dark;}
a:hover {color: $orange;}
ul { li {color: #333;}}


.sidebar {
    h3 {
        margin: 0 0 10px 0; line-height: 1.2em;
        a, span {display: block; border-bottom: 2px solid transparent;}
        span {border-color: $orange; color: $dark;}
        a:hover {color: $dark; border-color: $orange;}
    }

    a:hover {text-decoration: none; }

    ul {
        margin: 0;
        list-style-type: none;

        li {
            margin: 3px 0;
            a {display: block; padding-left: 20px; border-bottom: 1px solid transparent;}
            a:hover {color: $dark; border-color: $orange;}
            span {
                display: block; padding-left: 20px;
                font-weight: bold;
                color: black; border-bottom: 1px solid $orange;
            }
        }

        li.depth-3 {padding-left: 10px;}
        li.depth-4 {padding-left: 30px; font-size: 90%;}
    }
}

.sidebar.right {
    li {
        a, span {}
    }
}

ul.relations {
    margin: 0;
    list-style-type: none;
    li.category {
        padding-left: 20px;
        width: 100%; overflow: hidden;
        color: $orange; padding-bottom: 10px;

        .name {margin-left: -20px; display: block; float: left;}
    }
}

#top {
    margin-top: 5px;
    margin-bottom: 40px;
    a, span {display: block; border-bottom: 2px solid transparent;}
    span {color: black; border-color: $orange;}
    a:hover {text-decoration: none; color: black; border-color: $orange;}
}