
$orange: #ff8a00;
$gray: #EEE;
$grayline: #CCC;

html, body {
    background-color: white;
}

body {
    padding-top: 0px;
    color: black;
}

a {
    color: #ff8a00;
}

a:hover {
    color: #f57602;
}

h1, h2, h3, h4, h5, h6 {font-family: Georgia,serif; font-style: italic;}
h1 {font-size: 36px;}
.content {
    background-color: white;
    padding: 20px;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
//    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
    width: 100%; overflow: hidden;
    background-color: white;
    padding: 10px 20px;
    margin: -20px -20px 20px;

    .span4 {margin-right: 19px;}

    #logo {
        float: left;
        width: 219px; height: 98px; margin: 10px auto 0 auto;
        background: url('/images/logo-n.png') no-repeat;
        text-indent: -1000px;
        overflow: hidden;
    }

}

.content .sidebar {
    margin-right: 10px;
    padding-right: 9px;
    border-right: 1px solid $grayline;
    min-height: 500px;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}

.sidebar {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            padding: 0; margin: 0;

            a {
                display: block;
                padding: 3px 5px 2px 5px;
                border-bottom: 1px solid transparent;
                border-radius: 3px;
                color: black;
            }

            a:hover {
                background-color: #eec;
                border-bottom: 1px solid transparent;
                text-decoration: none;
            }

        }

        li.selected {
            color: $orange;
            span {display: block; padding: 3px 5px;}
        }


        li.depth-0 {
        }

        li.depth-1 {
            a {padding-left: 18px;}
        }

        li.depth-2 a, li.depth-2 span {padding-left: 25px;}
        li.depth-3 a, li.depth-3 span {padding-left: 30px;}


    }
}
