@import "../variables.css.scss";

div.articles {width: 95%; margin: 10px auto;}
div.articles div.article {width: 100%; overflow:hidden;}
div.article div.info {float: left; padding-right:10px;}


div.nested_articles {
    border-left: 3px solid #efefef; padding-left: 10px;
}

div.article.nested {
    width: 100%; overflow: hidden;
    color: gray;
    h2 {float: left; color: black; margin-right:5px; font-size: 120%;}
    div.info {}
}

div.article {
}

div.article div.render {



    width: $s-content; margin: 20px auto;

    div.body {
       width:100%;overflow:hidden;

      h1 {font-size: 16px; margin: 15px 0 -5px 0;}
      h2 {font-size: 14px;}
      p {text-align:justify; margin: 0.75em 0; line-height:1.5em;}
      a:hover {color: black;}

      div.mediafile {
        img {max-width:100%;}
      }

      div.mediafile.right {
            float: right;clear: both;
            width: 38%; margin-left:2%;
      }

    }

}

div.strip ul.properties {
    ul.ancestors, ul.children, ul.mediafiles {
        width: 100%; overflow: hidden;
        li {float: left;}
    }
}

#page .content {
    ul.articles {
        li {
            a {font-weight: bold;}
            a.action {color: #666; font-weight:normal;}
        }
    }
}

.categorized {
    ul.relations {
        margin-bottom: 10px;
        width: 30%; float: left; margin-right: 3%;

        li {
               a { font-weight: bold;}
         }
    }
}
