@import "variables.css.scss";



div.article {
}

div.article div.render {
    div.body {
       width:100%;overflow:hidden;

      h1 {font-size: 16px; margin: 15px 0 -5px 0;}
      h2 {font-size: 14px;}
      p {text-align:justify; margin: 0.75em 0; line-height:1.5em;}
      a:hover {color: black;}

      div.mediafile {
        img {max-width:100%;}
      }

      div.mediafile.right {
            float: right;clear: both;
            width: 38%; margin-left:2%;
      }

    }

}

