
@import "../variables.css.scss";

#browser {
    width: $s-browser - 10;
    float: left;
    text-align: right;
    text-shadow: 1px 1px 1px darken($c-bg, 10);
    //font-weight: bold;
    color: $c-link;

    ul {
        font-size: 110%;

        li a {display: block; padding: 0;color: #333;}
        li a:hover {}

        ul {
            font-size: 80%;
            margin: 0px 0px 10px 0;
        }

    }
}