

@import "../variables.css.scss";

/** LAYOUT **/
.container {width:100%;overflow: hidden;}


$br-height: 119px;

div#page {
    width: $s-width;
    margin: 30px auto;
    border: 1px solid $c-gray;

    #logo {
        float: left;
        width: $s-browser;
        height: $br-height;
        background: $c-orange url('/assets/logo300.png') no-repeat;
        text-indent: -1000px;
        overflow: hidden;
    }

    #head {
        float: left;
        width: $s-width - $s-browser - 1;
        height: $br-height;
        border-left: 1px solid $c-gray;
        background-color: #feeaad;

         div.inside {padding: 10px 10px 0 50px;}
    }

    #browser {
        float: left;
        width: $s-browser;
     }

    #main {
        float: left;
        width: $s-width - $s-browser - 1;
        border-left: 1px solid $c-gray;
        padding-bottom: 10000px;
        margin-bottom: -10000px;

        div.inside {margin: 60px 50px;}
        div.strip {margin-top: -50px; border-bottom: 1px solid white; margin-bottom: 20px;}
    }
}

div#session {
    position: fixed; left: 0; right: 0; top: 0;
    background-color: #333; color: white;
    img.avatar {border: 0; margin:0 0 -3px 0;}
    padding: 3px;
}

div#flashes {
    margin: 3em auto 0 auto;
    width: $s-width;

    .notice {background-color: $c-orange; color: black; padding: 2px 10px; border-radius: 3px;}
}




ul.index {
    padding: 10px;
    font-size: 120%;
    li {margin-top: 0.3em;}
    ul  {margin: 0px 0 30px 10px; font-size: 90%;}

    a {color: $c-orange;}
}




