

@import "../variables.css.scss";

/** LAYOUT **/
.container {width:100%;overflow: hidden;}


$br-height: 154px;

div#page {
    width: $s-width;
    margin: 30px auto;
    border: 1px solid $c-gray;

    #logo {
        float: left;
        width: $s-browser;
        height: $br-height;
        background: $c-orange url('/assets/logo300.png') no-repeat;
        text-indent: -1000px;
        overflow: hidden;
    }

    #head {
        float: left;
        width: $s-width - $s-browser - 1;
        height: $br-height;
        border-left: 1px solid $c-gray;
        background-color: lighten($c-orange, 30);

         div.inside {padding: 10px 10px 0 50px;}
    }

    #browser {
        float: left;
        width: $s-browser;
     }

    #main {
        float: left;
        width: $s-width - $s-browser - 1;
        border-left: 1px solid $c-gray;
        padding-bottom: 10000px;
        margin-bottom: -10000px;

        div.inside {margin: 60px 50px;}
        div.strip {margin-top: -50px; border-bottom: 1px solid white; margin-bottom: 20px;}
    }
}



ul.index {
    padding: 10px;
    font-size: 120%;
    li {margin-top: 0.3em;}
    ul  {margin: 0px 0 30px 10px; font-size: 90%;}

    a {color: $c-orange;}
}




