
div.relation {
    font-size: 120%;
    font-weight:bold;
    margin: 10px 0;
}

form.relation {
    div.input {

        label {float: left; margin-right: 0.5em;
            width: 12em;
            font-weight: bold;
        }
    }
}

