/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/


#app div.session {
    float: right; padding: 5px 10px;
    background-color:#EFEFEF; border-radius: 3px;
}
#app div.session img.avatar {border:0; float: left;margin: 0px 2px 0 0;}
