
/** VARIABLES **/
$c-bg: #D6D6D6;
$c-gray: #CCC;
$c-red: #CA0202;
$c-orange: #F69F20;
$c-orange-lt: #feeaaa;
$c-blue: #40cafc;
$c-link: $c-orange;
$c-head: #333;
$c-line: #CCC;
$c-header: #F8F8F8;

$s-width: 960px;
$s-browser: 300px;


@mixin box-shadow {
    -moz-box-shadow: 0px 0px 25px #555;-webkit-box-shadow: 0px 0px 25px #555;box-shadow: 0px 1px 5px #555;
}