<!DOCTYPE html>
<html style="background-color: #F69F20;">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="width: 450px; margin: 20px auto; padding: 10px; background-color: white;">
<%= yield %>
</body>
</html>
